<center>
<div class="fancy-text">
    <h1> Devices </h1>
    <br>
    <% if !@devices.empty? %>
        <% @devices.each do |device| %>
        <div class="card-one" style="width: 20rem;">
        <div class="card-body">
        <h4> <%= link_to device.name, device_path(device), class: 'my-btn-sm'%> </h4>
        </div>
        </div>
        <br>
    <% end%>
<% else %>
<div class="card-one" style="width: 20rem;">
<div class="card-body">
         You currently have no devices! Create your first 
        <%= link_to 'Device', new_device_path, class: 'my-btn-sm' %>. 
    </div>
    </div>
<% end %>
</div>
</center>
