<center>
<h1> Devices </h1>
<br>
<% if !@devices.empty? %>
    <% @devices.each do |device| %>
        <center>
        <div class="card" style="width: 30rem;">
        <div class="card-body">
    <h4> <%= link_to device.name, device_path(device)%> </h4>
        </div>
        </div>
        <br>
        </center>
    <% end%>
<% else %>
    <div class="card" style="width: 30rem;">
    <div class="card-body">
        <p> You currently have no devices! Create your first 
        <%= link_to 'Device', new_device_path %>. </p>
    </div>
    </div>
<% end %>
</center>
