<h1> Device Show Page </h1>

<h3> <%= @device.name %> </h3>
<p> <%= @device.type %> </p>
<p> <%= @device.brand %> </p>
<p> <%= link_to @device.user_device.location, user_device_path(@device.user_device)%> </p>
