<% @automations.each do |automation| %>
    <% next if automation.device_id.nil? %>
    <h4> <%= link_to automation.name,  device_automation_path(automation.device_id, automation) %> </h4>
     <br>
<% end %>