<h1> <%= @device.name %> Automations Index </h1>
<ul>
<% @automations.each do |automation| %>
    <center>
        <div class="card" style="width: 30rem;">
        <div class="card-body">
    <h4> <%= link_to automation.name,  device_automation_path(automation.device_id, automation) %> </h4>
    </div>
    </div>
    </center>
    <br>
<% end %>
<%= link_to 'All Devices', devices_path %>
</ul>