<center>
    <div class="card-one" style="width: 20rem;">
    <div class="card-body">
        <div class="fancy-text">
        <p> Welcome to Automaid! An IoT application, that allows you to manage all your home devices and automations.</p>
        </div>
    </div>
    </div>
</center>