<center>
<h1> My Home </h1>
<p> hello <%= current_user.name %> </p>

<% @rooms.each do |room| %>
    <div class="card" style="width: 30rem;">
    <div class="card-body">
    <%= link_to room.name, room_path(room)%>
    </div>
    </div>
    <br>
<% end%>
<br>

<%= link_to 'New Room', new_room_path%>
<br>
<br>
</center>