<center>
<h1> My Home </h1>

<% if !@rooms.empty? %>
<%= link_to 'Create New Living Space', new_room_path%>
<%= link_to 'Indoor Living Spaces', filter_by_location_path, class: 'nav-link active' %>
<br>
<br>
    <% @rooms.each do |room| %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <%= link_to(room.name, room_path(room), class: "btn btn-primary")%>
        </div>
        </div>
        <br>
    <% end%>
<% else %>
    <div class="card" style="width: 30rem;">
    <div class="card-body">
    <p> You currently have no rooms. Create your first <%= link_to 'Room', new_room_path%>.</p>
<% end %>
</center>